@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<style>
    .account-action {
        text-decoration: none;
        color: #339989;
        font-weight: bold;
    }
    .account-action:hover {
        color: #267166;
    }
    .bullet {
        margin-left: 5px;
        margin-right: 5px;
    }
</style>
<h1 style="margin-bottom: 50px;">@ViewData["Title"]</h1>
<div>
    <section>
        <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="emet-selch" />
                <label asp-for="Input.Username" class="form-label">Username</label>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password" class="form-label">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="checkbox mb-3">
                <label asp-for="Input.RememberMe" class="form-label">
                    <input class="form-check-input" asp-for="Input.RememberMe" />
                    @Html.DisplayNameFor(m => m.Input.RememberMe)
                </label>
            </div>
            <div>
                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Log in</button>
            </div>
            <div style="margin-top: 15px;" class="d-flex flex-wrap justify-content-center align-items-center">
                <a class="account-action" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a> <span class="bullet">&bull;</span>
                <a class="account-action" asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register</a> <span class="bullet">&bull;</span>
                <a class="account-action" id="resend-confirmation" asp-page="./ResendEmailConfirmation">Resend email confirmation</a>
            </div>
        </form>
    </section>
</div>
@{
    if ((Model.ExternalLogins?.Count ?? 0) != 0)
    {
        <div style="margin-top: 30px; margin-bottom: 30px; font-weight: bold; font-size: large;" class="d-flex justify-content-center align-items-center">
            &mdash; or &mdash;
        </div>
        

        <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
            <div class="d-flex align-items-center justify-content-center">
                @foreach (var provider in Model.ExternalLogins!)
                {
                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">Log in with @provider.DisplayName</button>
                }
            </div>
        </form>
    }
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
