@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="row" style="margin-top:30px;">
    <div class="col-md-4">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h3>Create a new account</h3>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Username" class="form-control" autocomplete="username" aria-required="true" placeholder="emet-selch" />
                <label asp-for="Input.Username">Username</label>
                <span asp-validation-for="Input.Username" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="emet-selch@garlean.empire" />
                <label asp-for="Input.Email">Email</label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.Password">Password</label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                <label asp-for="Input.ConfirmPassword">Confirm Password</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
        </form>
        @{
            if ((Model.ExternalLogins?.Count ?? 0) != 0)
            {
                <div style="margin-top: 30px; margin-bottom: 30px; font-weight: bold; font-size: large;" class="d-flex justify-content-center align-items-center">
                    &mdash; or &mdash;
                </div>
                
        
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div class="d-flex align-items-center justify-content-center">
                        @foreach (var provider in Model.ExternalLogins!)
                        {
                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">Sign up with @provider.DisplayName</button>
                        }
                    </div>
                </form>
            }
        }
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Why create an account?</h3>
            <hr />
            <div>
                Creating an account allows you to:
                <ul>
                    <li>Post comments and review your favourite mods</li>
                    <li>Upload your own mods</li>
                </ul>
            </div>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
