@page
@using System.Diagnostics
@using System.Reflection
@using Microsoft.AspNetCore.Identity
@using Microsoft.EntityFrameworkCore
@using OpenModServer.Data
@using OpenModServer.Data.Identity
@using OpenModServer.Structures
@model IndexModel
@inject OmsConfig Config
@inject SignInManager<OmsUser>  SignInManager
@inject ApplicationDbContext DbContext

<h3>Welcome to @Config.Branding.Name</h3>
<div>
    This is an early-release site, and as such, many features are not implemented.
</div>
<div>
    Try clicking the 'Mods' tab above.
</div>
<div style="margin-top:30px;">
    Server information:
    @{
        using var proc = Process.GetCurrentProcess();
        <table class="table">
            <tr>
                <th>Runtime version</th>
                <td>@Environment.Version</td>
            </tr>
            <tr>
                <th>Start time</th>
                <td>@proc.StartTime.ToString("s")</td>
            </tr>
            <tr>
                <th>Request ID</th>
                <td>@Request.HttpContext.TraceIdentifier</td>
            </tr>
            <tr>
                <th>OMS version</th>
                <td>@Assembly.GetEntryAssembly()?.FullName</td>
            </tr>
            <tr>
                <th>Server</th>
                <td>@Environment.MachineName (@Environment.OSVersion, tc64=@Environment.TickCount64)</td>
            </tr>
            <tr>
                <th>Process</th>
                <td>@Environment.ProcessPath (@Environment.ProcessId)</td>
            </tr>
            <tr>
                <th>OS threads</th>
                <td>@proc.Threads.Count</td>
            </tr>
            <tr>
                <th>Memory</th>
                <td>@(Environment.WorkingSet / 1000000) MB physical working set &bull; @(proc.PrivateMemorySize64 / 1000000) MB private</td>
            </tr>
            <tr>
                <th>Database</th>
                <td>@DbContext.Database.ProviderName (Supported=@DbContext.Database.IsNpgsql())</td>
            </tr>
        </table>
    }
</div>