@page
@model OpenModServer.Areas.Admin.Pages.ModerationActions

<div>
    <h3>All moderation actions</h3>
    
    <table class="table">
        <thead>
        <tr>
            <th>
                Date
            </th>
            <th>Change</th>
            <th>Responsible mod</th>
            <th>Reason</th>
        </tr>
        </thead>
        <tbody>
            @foreach (var release in Model.Changes)
            {
                <form method="post">
                    <input type="hidden" name="id" value="@release.Id" />
                    <tr>
                        <td>@release.CreatedAt</td>
                        <td>@release.PreviousStatus->@release.CurrentState</td>
                        <td>@(release.ModeratorResponsible?.UserName ?? "System")</td>
                        <td>@release.Reason</td>
                    </tr>
                </form>
            }
        </tbody>
    </table>
</div>