@page "/users/{id}"
@using Humanizer
@using Microsoft.AspNetCore.Html
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using OpenModServer.Areas.Account
@using OpenModServer.Areas.Games
@using OpenModServer.Services
@using OpenModServer.Structures
@using Westwind.AspNetCore.Markdown
@model OpenModServer.Areas.Users.Pages.UserModel
@inject GameManager GameManager
@inject CountryService CountryService
@{
    ViewData["Title"] = Model.User.UserName;
}
<div class="d-flex align-items-center">
    <img src=@($"https://gravatar.com/avatar/{Model.User.GenerateMd5EmailHash()}") />
    <div class="m-4">
        <h2>@Model.User.UserName</h2>
        <div class="d-flex flex-column">
            <div class="d-flex flex-row">
                @if (!string.IsNullOrWhiteSpace(Model.User.City))
                {
                    <span>@Model.User.City</span>
                }
                @if (!string.IsNullOrWhiteSpace(Model.User.CountryIsoCode))
                {
                    <span>, @CountryService.CountriesByIsoCode[Model.User.CountryIsoCode].Name</span>
                }
            </div>
            <div class="d-flex flex-row">
                @if (Model.Claims.HasPermission(Permissions.Administrator))
                {
                    <span class="badge bg-primary">Admin</span>
                }
            </div>
        </div>
    </div>
</div>
<div style="margin-top: 20px;" class="container">
    <div class="mb-3">
    <h3>Latest releases</h3>
        <ul>
            <div class="mt-1 row row-cols-1 row-cols-md-3 g-4">
            @foreach (var mod in Model.Mods)
            {
                <div class="col">
                    @await Component.InvokeAsync("ListingCard", mod)
                </div>
            }
            </div>
        </ul>
</div>
<div class="mb-3">
    <h3>Latest comments</h3>
    <ul>
        @foreach (var comment in Model.Comments)
        {
            <div class="d-flex flex-row border rounded p-2 mb-2">
                <img class="rounded" src="@($"https://www.gravatar.com/avatar/{comment.Author.GenerateMd5EmailHash()}")" height="50px" width="50px" alt="@comment.Author.UserName"/>
                <div class="ms-2 w-100">
                    <div class="d-flex flex-row justify-content-between">
                        <div>
                            <a class="comment-author-title" asp-route-id="@comment.AuthorId.ToString()" asp-area="Users" asp-page="/User">
                                @comment.Author.UserName
                            </a> on <a asp-area="Mods" asp-page="/Index" asp-route-id="@comment.ModListingId">@comment.Listing.Name</a>  
                        </div>
                        <div class="text-muted">
                            @comment.CreatedAt.Humanize()
                        </div>
                    </div>
                    <div>@(new HtmlString(new MarkdownParserMarkdig().Parse(comment.Content)))</div>
                </div>
            </div>
        }
    </ul>
</div>
</div>