@page "/mods/{id}"
@using Microsoft.AspNetCore.Identity
@using OpenModServer.Games
@using OpenModServer.Games.Capabilities
@using OpenModServer.Identity
@model OpenModServer.Pages.Mod
@inject GameManager GameManager
@inject SignInManager<OmsUser> SignInManager

@{
    ViewData["Title"] = Model.Listing.Name;
    var game = GameManager.Resolve(Model.Listing!.GameIdentifier);
    var isOwner = SignInManager.IsSignedIn(User) && SignInManager.UserManager.GetUserId(User) == Model.Listing?.CreatorId.ToString();
    var isOwnerOrAdmin = isOwner;
}
<h2>@Model.Listing?.Name</h2>
<h6>Author: <a href=@Url.Page("User", new{id=@Model.Listing?.CreatorId})>@Model.Listing?.Creator.UserName</a></h6>
<div>@Model.Listing?.Description</div>

<div style="margin-top: 20px;">
    <h3>Releases</h3>
    <div>
        <table style="width:100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Status</th>
                <th>Release Date</th>
                <th>Download Count</th>
                <th>Download</th>
                @if (isOwnerOrAdmin)
                {
                    <th>Actions</th>
                }
            </tr>
            </thead>
            <tbody>
            @foreach (var release in Model.Listing?.Releases)
            {
                <tr>
                    <td><a href=@($"/mods/{Model.Listing?.Id}/releases/{release.Id}")>@release.Name</a></td>
                    <td>@release.ReleaseType</td>
                    <td>@release.ApprovalHistory.OrderByDescending(d => d.CreatedAt).FirstOrDefault().CurrentState</td>
                    <td>@release.CreatedAt.ToString("D")</td>
                    <td>@release.DownloadCount</td>
                    <td><a href=@($"/downloads/releases/{release.Id}")>Click</a></td>
                    @if (isOwnerOrAdmin)
                    {
                        <td>
                            <button type="button" class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </div>
    @if (isOwner)
    {
        <div style="margin-top: 20px;">
            <a href=@Url.Page("/Mods/Releases/CreateRelease", new{mod_id=Model.Listing?.Id.ToString()}) class="btn btn-info">Create new release</a>
        </div>
    }
</div>

@if (GameManager.Resolve(Model.Listing.GameIdentifier) is IPublishable publishable)
{
    <div style="margin-top: 20px;">
        @{
            var url = GameManager.GeneratePublisherUrl(game, Model.HttpContext);
        }
        <h3>How to install</h3>
        <div>
            Add the following URL to your plugin sources:
            <br/>
            <code>
                @url
            </code>
            <button type="button" class="btn btn-secondary" onclick="navigator.clipboard.writeText('@url')">Copy</button>
        </div>
    </div>    
}
